
.prompt{
    
    font-size: 24pt;
}
.answer{
    padding: 10px;
    font-size: 16pt;
}

.answer input>div{
    width: 1000pt;
    display: inline-block;
    align-self: center;
}
.flex-container{
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 400px;
    justify-content: center;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    border-radius: 5;
    border-color: white;
    border-style: inset;
    text-align: center;
    background-color: black;
    color: white;
}
.quiz{
    
}