<div *ngIf="question" class="question">
    <span class="prompt">
        {{question.text}}?
    </span>
    <div class="answers">
        <div *ngFor="let answer of question.answers" class="answer">
            <button id={{answer}} class="answer" name="answer" value={{answer}} (click)="answerQuestion(answer)">{{answer}}</button>
            <!--<label for={{answer}}>{{answer}}</label>-->
        </div>
    </div>
    <div *ngIf="answered">
        <div *ngIf="correct">Thou hast done well in answering the question!</div>
        <div *ngIf="!correct">An incorrect answer should not have taken thee! The correct answer is {{question.correctAnswer}}.</div>
        <button id="next" (click)="nextQuestion()">Next Question</button>
    </div>
    <div *ngIf="totalAnswered">{{totalCorrect}} / {{totalAnswered}}</div>
</div>
