<div *ngIf="question">
    {{question.text}}?
    <div *ngFor="let answer of question.answers">
        <input  type="radio" id={{answer}} name="answers" value={{answer}} (click)="answerQuestion(answer)">
        <label for={{answer}}>{{answer}}</label>
    </div>
    <div *ngIf="answered">
        <div *ngIf="correct">Thou hast done well in answering the question!</div>
        <div *ngIf="!correct">An incorrect answer should not have taken thee! The correct answer is {{question.correctAnswer}}.</div>
        <button id="next" (click)="nextQuestion()">Next Question</button>
    </div>
    <div *ngIf="totalAnswered">{{totalCorrect}} / {{totalAnswered}}</div>
</div>
