
.prompt{
    
    font-size: 24pt;
}
button{
    padding: 10px;
    margin: 5px;
    font-size: 16pt;
    color: black;
}
p{
    font-size: 12pt;
  }

.answer input>div{
    width: 1000pt;
    display: inline-block;
    align-self: center;
}
.flex-container{
    align-self: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.quiz{
    
    align-items: center;
    justify-content: center;
    width: 400px;
    font-family: 'rubik';
    padding: 10px;
    border-radius: 5;
    border-color: white;
    border-style: inset;
    text-align: center;
    background-color: black;
    color: white;
}